@{
    ViewBag.Title = "Details";
}

@model Musicalog.Web.Services.AlbumDetailsResultModel

<div class="card">
    <div class="card-header">
        <strong>Album Details</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <strong>Album Name</strong>
                <p>@Model.Name</p>
            </div>
            <div class="col-lg-6 col-md-12">
                <strong>Album Type</strong>
                <p>@Model.Type</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <strong>Artist</strong>
                <p>@Model.Artist (Label: @Model.Label)</p>
            </div>
            <div class="col-lg-6 col-md-12">
                <strong>Stock</strong>
                <p>@Model.Stock</p>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        @using (Html.BeginForm("Delete", "Albums", FormMethod.Post, new { @class = "d-inline" }))
        {
            @Html.Hidden("Id", Model.Id)
            <button type="submit" class="btn btn-danger">Delete</button>
        }
        <button data-navigate="@Url.Action("Edit", "Albums", new { Id = Model.Id })" class="btn btn-success">Edit</button>
    </div>
</div>

<a href="@Url.Action("List", "Albums")">< Back to list</a>

